.front-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.front {
    display: block;
    margin: 0 1rem;
    width: fit-content;
}

.front-text {
    width: fit-content;
    margin: 0 auto;
}

ul {
    padding-left: 0.9rem !important;

    max-height: 50vh;
    overflow: scroll;
}

.col a {
    display: block;
    text-decoration: none;
}

.col a svg {
    margin-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
    body {
        background: linear-gradient(-45deg,#ffea8f, #d694c0);
    }
}
