@media (prefers-color-scheme: dark) {
    body {
        --bs-body-color: #f1f1f1;
        --bs-body-color-rgb: 241, 241, 241;
        --bs-body-bg: #121212;
        --bs-body-bg-rgb: 18, 18, 18;
        --bs-code-color: #ff3a9c;
        --bg-highlight-blue: #12122f;

        background: linear-gradient(-45deg,var(--bg-highlight-blue), var(--bs-body-bg) 20%, var(--bs-body-bg) 80%, var(--bg-highlight-blue));
    }
}

a {
    transition: color 0.25s;
}

@import '~bootstrap/scss/bootstrap';
